* {
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.contenedor-principal {
    width: calc(100vw - 2rem);
    margin: auto;
}

.contenedor-principal h2 {
    font-family: 'Big Shoulders Display', cursive;
}

.contenedor-principal p {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}

.card-1 {
    width: 90vw;
    height: 33.3vh;
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 2rem;
}

.card-2 {
    width: 90vw;
    height: 33.3vh;
    background-color: hsl(184, 100%, 22%);
    padding: 2rem;
}

.card-3 {
    width: 90vw;
    height: 33.3vh;
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 2rem;
}

button {
    width: 50%;
    height: 3rem;
    border-radius: 2rem;
    border: 0;
}

.card-1 button {
    color: hsl(31, 77%, 52%);
}

.card-2 button {
    color: hsl(184, 100%, 22%);
}

.card-3 button {
    color: hsl(179, 100%, 13%);
}

@media screen and (min-width: 1024px) {
    body {
        width: 100vw;
        height: 100vh;
    }

    .contenedor-principal {
        width: 100vw;
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }    

    .card-1 {
        width: 15rem;
        height: 25rem;
        background-color: hsl(31, 77%, 52%);
        border-radius: 0;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        padding: 2rem;
    }
    
    .card-2 {
        width: 15rem;
        height: 25rem;
        background-color: hsl(184, 100%, 22%);
        padding: 2rem;
    }
    
    .card-3 {
        width: 15rem;
        height: 25rem;
        background-color: hsl(179, 100%, 13%);
        border-radius: 0;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        padding: 2rem;
    }

    button {
        width: 80%;
        height: 2rem;
        margin-top: 2rem;
    }
}