html {
    min-height: 100%;
    position: relative;
}

body{
    margin: 0;
    margin-bottom: 100px;
}

header {
    width: 100%;
    height: 100px;
    background-color: rgb(133, 248, 155);
}

aside {
    width: 20%;
    height: 450px;
    background-color: gray;
}

main{
    width: 69%;
    height: 500px;
}

div{
    width: 40%;
    height: 35%;
}

#div_uno {
    background-color: yellow;
}

#div_dos {
    background-color: orange;
}

#div_tres {
    background-color: red;
}

#div_cuatro {
    background-color: violet;
}

.item_principal {
    margin: 1em;
    margin-top: 4em;
    padding: 1em;
    float: left;
}

.item {
    margin: 1em;
    padding: 1em;
    float: left;
}

footer {
    background-color: rgb(133, 248, 155);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}