
.tarjeta {
    width: 30%;
    height: 70vh;
    border-radius: 1rem;
    border: 1px solid black;
    display: inline-block;
}

#tarjeta-1{
    background-color: dodgerblue;
}

#tarjeta-2{
    background-color: red;
}

#tarjeta-3{
    background-color: green;
}
