.circulo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: peru;
    transition: all 5s ease;
}

.circulo:hover {
    width: 500px;
    height: 500px;
    background-color: red;
}