body{
    background-color: rgb(168, 168, 213);
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.formato-div {
    width: 450px;
    height: 40rem;
    border-radius: 1rem;
    margin: 7% 35%;
    background-color: white;
}

#div-secundario{
    width: 80%;
    height: 15%;
    background-color: rgb(228, 228, 228);
    margin-left: 10%;
    border-radius: 1rem;
}

#img-principal{
    border-radius: 1rem  1rem 0rem 0rem;
}

#img-musica, .div-plan-anual, .div-change{
    display: inline-block;
    margin-top: 1rem;
}

.div-plan-anual{
    margin-left: 3rem;
    margin-right: 2rem;
}

#p-plan-anual{
    color: black;
    font-weight: bold;
}

p {
    color: gray;
    margin: 10px;
}

button {
    border-radius: 0.5rem;
    background-color: blue;
    color: white;
    margin-top: 2rem;
    width: 80%;
    height: 7%;
    font-weight: bold;
}
