header {
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: lawngreen;
}

nav {
    border-radius: 0.5rem;
    background-color: green;
    color: white;
}

aside, main{
    border-radius: 0.5rem;
    display: inline-block;
    height: 50vh;
    vertical-align: top;
    margin-top: 4rem;
    color: white
}

article{
    width: 80%;
    border-radius: 0.5rem;
    background-color: rgb(249, 242, 242);
    padding: 4%;
    margin: 4%;
    color: black;
}

aside{
    background-color: orange;
    width: 25%;
}

main{
    background-color: tomato;
    width: calc(50% - 5rem);
    margin-left: 2rem;
    margin-right: 2rem;
}

footer{
    margin-top: 5rem;
    background-color: blueviolet;
    height: 17.5vh;
    border-radius: 0.5rem;
}